TEAM_ID=3X4J53U6RY
BUNDLE_ID=com.dawnchat.desktop
SIGNING_IDENTITY=Developer ID Application: Tao Zhu (3X4J53U6RY)
NOTARY_PROFILE=dawnchat-notary
ASC_KEY_ID=6YFFYJFK7U
ASC_ISSUER_ID=c1bed6ca-e4da-4bb1-8b9f-b4f9e8b0e126
P12_PATH=/Users/yourname/.dawnchat-release/certs/developer-id-app.p12
P12_PASSWORD=change_me
ASC_KEY_PATH=/Users/yourname/.dawnchat-release/keys/AuthKey_6YFFYJFK7U.p8
